<h1>i am user-list</h1>
<!--<div>
  Search: <input type="text" ng-model="query">
  <br/>
  Sort By: 
  <select ng-model="orderProp">
    <option value="name">By Name</option>
    <option value="age">By Age</option>
  </select>
  Current Sort By: {{orderProp}}
</div>
<hr/>
<div>
  <p ng-repeat="user in users | filter:query | orderBy:orderProp" >
    <span>
      <img ng-src="{{user.avatar}}" alt="">
    </span>
    <span>{{user.name}}</span>
    <span>{{user.age}}</span>
    <hr/>
  </p>
</div>-->