<!DOCTYPE html>
<html ng-app='MyApp'>
  <head>
    <meta charset="utf-8">
    <title>Angular Demo 5</title>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
  </head>

  <body ng-controller="TestCtrl">
    <div>
      Search: <input type="text" ng-model="query">
      <br/>
      Sort By: 
      <select ng-model="orderProp">
        <option value="name">By Name</option>
        <option value="age">By Age</option>
      </select>
      Current Sort By: {{orderProp}}
    </div>
    <hr/>
    <div>
      <p ng-repeat="user in users | filter:query | orderBy:orderProp" >
        {{user.name}}
      </p>
    </div>

    <script type="text/javascript">
      var app = angular.module('MyApp', [], function() {
        console.log('Angular boottrap');
      });
      app.controller('TestCtrl', function($scope, $element) {
        $scope.users = [
          {name: 'jc', age: 19},
          {name: 'june', age: 18},
          {name: 'baby', age: 10},
          {name: 'david', age: 20},
          {name: 'angularbaby', age: 300},
          {name: 'jorn', age: 99}                    
        ];

        $scope.orderProp = 'name';

      });
    </script>
  </body>
</html>